<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LEARN HTML TAGS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">



    <ion-toolbar>
      
     
      
    </ion-toolbar>
  </ion-header>
  <ion-card-content>

   
  <ion-card-title>Version 1.1.0</ion-card-title>
  
  
  </ion-card-content>

<img src="https://ionicframework.com/img/meta/ionic-pro-og.png" alt="img">

<hr>

<ion-content>Developed by students of Universidad Politecnica de Durango in the software engineering degree of group 8- "B"
<p>Students:</p>
<p>-Jesus Martinez</p>
<p>-Ochoa Lopez</p>
<p>-Luis Daniel Macias</p>

</ion-content>


</ion-content>
